@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider authStateProvider
@attribute [Authorize(Roles = "Administrator,User")]

@page "/paginaprincipal"
@using FactuSystem.Authentication;
<CascadingAuthenticationState>



<!DOCTYPE html>
<html lang="en">
@* @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
*@
<head>
    <style>

        .keyframes zoomIn {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}

.zoom-in-animation {
    animation: zoomIn 0.5s ease-in-out;
}
.logosegundo {
    width: 150px;
    height: 35px;
}

.dropdown {
    position: absolute;
    top: 100%; /* Ajusta según sea necesario para la separación vertical */
    left: 0;
    z-index: 1;
    background-color: #fff; /* Fondo del menú desplegable */
    border: 1px solid #ccc; /* Borde del menú desplegable */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
}

    /* Estilo para ocultar el menú desplegable cuando no está visible */
    
* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #1c4775;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
    
}

/* =============== Navigation ================ */
.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
    left: 4px; /* Ajusta este valor para cambiar la posición inicial de la navegación */

}

    .navigation.active {
        width: 80px;
    }

    .navigation ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

        .navigation ul li {
            position: relative;
            width: 100%;
            list-style: none;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }

            .navigation ul li:hover,
            .navigation ul li.hovered {
                background-color: var(--white);
            }

            .navigation ul li:nth-child(1) {
                margin-bottom: 40px;
                pointer-events: none;
            }

            .navigation ul li a {
                position: relative;
                display: block;
                width: 100%;
                display: flex;
                text-decoration: none;
                color: var(--white);
            }

            .navigation ul li:hover a,
            .navigation ul li.hovered a {
                color: var(--blue);
            }

            .navigation ul li a .icon {
                position: relative;
                display: block;
                min-width: 60px;
                height: 60px;
                line-height: 75px;
                text-align: center;
            }

                .navigation ul li a .icon ion-icon {
                    font-size: 1.75rem;
                }

            .navigation ul li a .title {
                position: relative;
                display: block;
                padding: 0 10px;
                height: 60px;
                line-height: 60px;
                text-align: start;
                white-space: nowrap;
            }

            /* --------- curve outside ---------- */
            .navigation ul li:hover a::before,
            .navigation ul li.hovered a::before {
                content: "";
                position: absolute;
                right: 0;
                top: -50px;
                width: 50px;
                height: 50px;
                background-color: transparent;
                border-radius: 50%;
                box-shadow: 35px 35px 0 10px var(--white);
                pointer-events: none;
            }

            .navigation ul li:hover a::after,
            .navigation ul li.hovered a::after {
                content: "";
                position: absolute;
                right: 0;
                bottom: -50px;
                width: 50px;
                height: 50px;
                background-color: transparent;
                border-radius: 50%;
                box-shadow: 35px -35px 0 10px var(--white);
                pointer-events: none;
            }

/* ===================== Main ===================== */
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

    .main.active {
        width: calc(100% - 80px);
        left: 80px;
    }

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

    .search label {
        position: relative;
        width: 100%;
    }

        .search label input {
            width: 100%;
            height: 40px;
            border-radius: 40px;
            padding: 5px 20px;
            padding-left: 35px;
            font-size: 18px;
            outline: none;
            border: 1px solid var(--black2);
        }

        .search label ion-icon {
            position: absolute;
            top: 0;
            left: 10px;
            font-size: 1.2rem;
        }

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

    .user img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/* ======================= Cards ====================== */
.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

    .cardBox .card {
        position: relative;
        background: var(--white);
        padding: 30px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
        flex-direction: row;
    }

        .cardBox .card .numbers {
            position: relative;
            font-weight: 500;
            font-size: 2.5rem;
            color: var(--blue);
        }

        .cardBox .card .cardName {
            color: var(--black2);
            font-size: 1.1rem;
            margin-top: 5px;
        }

        .cardBox .card .iconBx {
            font-size: 3.5rem;
            color: var(--black2);
            margin-top : 10px;
            margin-left: 40px; /* Agregado margen entre números e icono */

        }

        .cardBox .card:hover {
            background: var(--blue);
        }

            .cardBox .card:hover .numbers,
            .cardBox .card:hover .cardName,
            .cardBox .card:hover .iconBx {
                color: var(--white);
            }

/* ================== Order Details List ============== */
.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
}

    .details .recentOrders {
        position: relative;
        display: grid;
        min-height: 500px;
        background: var(--white);
        padding: 20px;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
    }

    .details .cardHeader {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}

.cardHeader .btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

    .details table thead td {
        font-weight: 600;
    }

.details .recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

    .details .recentOrders table tr:last-child {
        border-bottom: none;
    }

.details .recentOrders table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
}

.details .recentOrders table tr td {
    padding: 10px;
}

    .details .recentOrders table tr td:last-child {
        text-align: end;
    }

    .details .recentOrders table tr td:nth-child(2) {
        text-align: end;
    }

    .details .recentOrders table tr td:nth-child(3) {
        text-align: center;
    }

.status.delivered {
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.pending {
    padding: 2px 4px;
    background: #e9b10a;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.return {
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.inProgress {
    padding: 2px 4px;
    background: #1795ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.recentCustomers {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

    .recentCustomers .imgBx {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        overflow: hidden;
    }

        .recentCustomers .imgBx img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .recentCustomers table tr td {
        padding: 12px 10px;
    }

        .recentCustomers table tr td h4 {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.2rem;
        }

            .recentCustomers table tr td h4 span {
                font-size: 14px;
                color: var(--black2);
            }

    .recentCustomers table tr:hover {
        background: var(--blue);
        color: var(--white);
    }

        .recentCustomers table tr:hover td h4 span {
            color: var(--white);
        }

/* ====================== Responsive Design ========================== */
.media (max-width: 991px) {
    .navigation

{
    left: -300px;
}

.navigation.active {
    width: 300px;
    left: 0;
}

.main {
    width: 100%;
    left: 0;
}

    .main.active {
        left: 300px;
    }

.cardBox {
    grid-template-columns: repeat(2, 1fr);
}

}

.media (max-width: 768px) {
    .details

{
    grid-template-columns: 1fr;
}

.recentOrders {
    overflow-x: auto;
}

.status.inProgress {
    white-space: nowrap;
}

}

.media (max-width: 480px) {
    .cardBox

{
    grid-template-columns: repeat(1, 1fr);
}

.cardHeader h2 {
    font-size: 20px;
}

.user {
    min-width: 40px;
}

.navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
}

    .navigation.active {
        width: 100%;
        left: 0;
    }

.toggle {
    z-index: 10001;
}

.main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
}

}

                    .dropbtn {
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        font-size: 5px;
                    }

                        /* Estilos para la imagen de usuario */
                        .dropbtn .user-icon {
                            font-size: 1.10rem;
                        }

                    /* Estilos para el menú desplegable */
                    .dropdown {
                        position: relative;
                        display: inline-block;
                    }

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #f9f9f9;
                        min-width: 100px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                    }

                        .dropdown-content a {
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                        }

                            .dropdown-content a:hover {
                                background-color: #f1f1f1;
                            }

                    .dropdown:hover .dropdown-content {
                        display: block;
                    }

    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Admin Dashboard | Korsat X Parmaga</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="~/main.js">

</head>


<body class="contenido-principal zoom-in-animation">
    <!-- =============== Navigation ================ -->
    <div class="container" >
        <div class="navigation" style="margin-top : -20px">
            <ul>
                <li>
                    <a href="#">
                        <img src="unnamed.png" alt="" class="logosegundo" >



                   </a>
                </li>

                <li>
                    <a >
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span @onclick="Dashboard" class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a >
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title" @onclick="Clientes">Clientes</span>
                    </a>
                </li>

                <li>
                    <a >
                        <span class="icon">
                            <ion-icon name="cube-outline"></ion-icon>

                        </span>
                        <span @onclick="Proveedores" class="title">Provedores</span>
                    </a>
                </li>

                <li>
                    <a >
                        <span class="icon">
                            <ion-icon name="card-outline"></ion-icon>

                        </span>
                        <span @onclick="Productos" class="title">Productos</span>
                    </a>
                </li>
                <AuthorizeView Roles="Administrator">
                                <Authorized>
                    
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Funciones admins</span>
                    </a>
                </li>
                        </Authorized>
                        <NotAuthorized>
                          
                        </NotAuthorized>
                    </AuthorizeView>
                        
                 

                            <li class="menu-item dropdown-container" style="margin-bottom: 12px;">
                    <a @onclick="ToggleDropdown" class="menu-item" >
                        <span class="icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
                        <span  class="title">Facturas</span>
                    </a>
                   
                </li>
               <AuthorizeView>
            <Authorized>
                            <div class="dropdown" >
                                <!-- Utilizamos un botón como desencadenante -->
                                <span class="dropbtn" style="font-size:30px;">
                                    <ion-icon name="person-circle-outline"></ion-icon> <!-- Cambia 'person-circle-outline' por el nombre del ícono de usuario que desees -->
                                    @context?.User?.Identity?.Name?.ToString()
                                </span>
                                <div class="dropdown-content">
                                    <a >Link 1</a>
                                    <a >Link 2</a>
                                    <a @onclick="Logout">Cerrar sesion</a>
                                </div>
                            </div>
                    </Authorized>
                </AuthorizeView>
          
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon @onclick="ApplyJavaScript" name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    
                </div>

                <div class="user">

                </div>
            </div>
            
                <!-- ======================= Cards ================== -->
            @if (clientes)
            {
            
                @if (proveedores)
            {
                @if (productos)
                {
                   


                        <div class="cardBox">


                            <div class="card">
                                <div>
                                    <div class="numbers">80</div>
                                    <div class="cardName">Ventas</div>
                                </div>


                                <div class="iconBx">
                                    <ion-icon name="cart-outline"></ion-icon>
                                </div>


                            </div>
                            <div class="card">
                                <div>
                                    <div class="numbers">80</div>
                                    <div class="cardName">Beneficios</div>
                                </div>


                                <div class="iconBx">
                                    <ion-icon name="cash-outline"></ion-icon>
                                </div>


                            </div>

                            <div class="card">
                                <div>
                                    <div class="numbers">284</div>
                                    <div class="cardName">Deudas</div>
                                </div>

                                <div class="iconBx">
                                    <ion-icon name="trending-down-outline"></ion-icon>

                                </div>
                            </div>

                            <div class="card">
                                <div>
                                    <div class="numbers">$7,842</div>
                                    <div class="cardName">Ganancias</div>
                                </div>

                                <div class="iconBx">
                                    <ion-icon name="cash-outline"></ion-icon>
                                </div>
                            </div>
                        </div>

                        <!-- ================ Order Details List ================= -->
                        <div class="details">
                            <div class="recentOrders">
                        <div class="cardHeader">
                            <h2>Compras recientes</h2>
                            <a href="#" class="btn">View All</a>
                        </div>

                        <table>
                            <thead>
                                <tr>
                                    <td>Nombre</td>
                                    <td>Precio</td>
                                    <td>Pago</td>
                                    <td>Estado</td>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Star Refrigerator</td>
                                    <td>$1200</td>
                                    <td>Paid</td>
                                    <td><span class="status delivered">Pagado</span></td>
                                </tr>

                                <tr>
                                    <td>Dell Laptop</td>
                                    <td>$110</td>
                                    <td>Due</td>
                                    <td><span class="status pending">Pendiente</span></td>
                                </tr>

                                <tr>
                                    <td>Apple Watch</td>
                                    <td>$1200</td>
                                    <td>Paid</td>
                                    <td><span class="status return">Return</span></td>
                                </tr>

                                <tr>
                                    <td>Addidas Shoes</td>
                                    <td>$620</td>
                                    <td>Due</td>
                                    <td><span class="status inProgress">In Progress</span></td>
                                </tr>

                                <tr>
                                    <td>Star Refrigerator</td>
                                    <td>$1200</td>
                                    <td>Paid</td>
                                    <td><span class="status delivered">Delivered</span></td>
                                </tr>

                                <tr>
                                    <td>Dell Laptop</td>
                                    <td>$110</td>
                                    <td>Due</td>
                                    <td><span class="status pending">Pending</span></td>
                                </tr>

                                <tr>
                                    <td>Apple Watch</td>
                                    <td>$1200</td>
                                    <td>Paid</td>
                                    <td><span class="status return">Return</span></td>
                                </tr>

                                <tr>
                                    <td>Addidas Shoes</td>
                                    <td>$620</td>
                                    <td>Due</td>
                                    <td><span class="status inProgress">In Progress</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- ================= New Customers ================ -->
                    <div class="recentCustomers">
                        <div class="cardHeader">
                            <h2>Clientes recientes</h2>
                        </div>

                        <table>


                        </table>

                    </div>

                </div>
                }
                }
            }
        </div>
       
        @if (proveedores == false)
        {

            <FactuSystem.Pages.Proveedor.Proveedor></FactuSystem.Pages.Proveedor.Proveedor>
        }

            @if (productos == false)
            {
            
            <FactuSystem.Pages.Producto.Producto></FactuSystem.Pages.Producto.Producto>
            }
        @if(clientes == false)
        {
            
            <FactuSystem.Pages.Clientes.Clientes></FactuSystem.Pages.Clientes.Clientes>
        }
        
            
                </div>
            
    <!-- =========== Scripts =========  -->
    
</body>

</html>
</CascadingAuthenticationState>

@code{
    private bool productos = true;
    private bool clientes = true;

    private bool mostrarContenido = true;
    private bool proveedores = true;


    private bool showDropdown = false;

    private void ToggleDropdown()
    {
        showDropdown = !showDropdown;
    }

    void Vender()
    {
        urlHelper.NavigateTo("factura/vender");
    }
    void Provee()
    {
        urlHelper.NavigateTo("proveedor");
    }
    void Pagas()
    {
        urlHelper.NavigateTo("factura/paga");
    }
    void Cobrar()
    {
        urlHelper.NavigateTo("factura/cobrar");
    }
    private void Clientes()
    {
        proveedores = true;
        productos = true;
        clientes = false;
    }
    private void Dashboard()
    {

        NavigationManager.NavigateTo("/paginaprincipal", true);
    }
    private void Proveedores()
    {
        proveedores = false;
        productos = true;
        clientes = true;

    }
    private void Productos()
    {
        productos = false;
        proveedores = true;
        clientes = true;

    }
 
    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        NavigationManager.NavigateTo("/login", true);
    }

    private async Task ApplyJavaScript()
    {
        await JSRuntime.InvokeVoidAsync("eval", @"
            let list = document.querySelectorAll("".navigation li"");

            function activeLink() {
                list.forEach((item) => {
                    item.classList.remove(""hovered"");
                });
                this.classList.add(""hovered"");
            }

            list.forEach((item) => item.addEventListener(""mouseover"", activeLink));

            // Menu Toggle
            let toggle = document.querySelector("".toggle"");
            let navigation = document.querySelector("".navigation"");
            let main = document.querySelector("".main"");

            toggle.onclick = function () {
                navigation.classList.toggle(""active"");
                main.classList.toggle(""active"");
            
            };
        ");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Llama al método para aplicar el código JavaScript después de renderizar el componente
            await ApplyJavaScript();
        }
    }


}

    }