@inherits LayoutComponentBase

<PageTitle>FactuSystem</PageTitle>

<div class="page">
  @*  <div class="sidebar">
        
    </div>*@

    <main>
      
        <article class="content ">
            @Body
        </article>
    </main>
</div>
